*{
    margin: 0;
    padding: 0;
}
/*tipografias*/
.gideon{
    font-family: 'Gideon Roman', cursive;
}
.bebas{
    font-family: 'Bebas Neue', cursive;
}
.tamañogrande{
    font-size: large;

}
.tamañomedio{
    font-size: medium;
}
.tamañomuygrande{
    font-size: larger;
}
/*fin tipografias*/

/*tamaño imagenes*/
.imggrande{
    width: 600px;
    height: 400px;
}
.imgmediana{
    width: 300px;
    height: 300px;
}

/*fin de tamaño imagen*/
/*inicio html*/
.redessociales{
    display: flex;
    justify-items: right;
    margin-right: 30px;
    
    
}
.facebook{
    padding-right: 20px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 20px;
}
.section{
    width: 500px;
    
}
.divimg{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 70px 60px;
    
}
header div img{
    width: 100px;
    height: 100px;
   
    
    
}
header{
    display: flex;
    background-color: #5394F7;
   
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: #5394F7;
    display: flex;
    justify-content: space-around;
    align-items: center;

}



.nav ul li{
    list-style-type: none;
    display: inline-flex;
    
    padding-inline: 130px;
    
    
    
    background-color: #ecf0f1;
   
    
    
} 

.nav{
    display: flex;
    justify-content: center;
    
    
}

/*fin html*/



/*grid*/
@media (max-width: 500px){
    header{
        height: 100px;
        background-color: aqua;
        grid-area: header;
        
    }
  
    nav{
        height: 40%;
        grid-area: nav;
        
        padding-top: 30px;
        
        
        
    }
    main{
        height: 70%;
        grid-area: main;
        padding-top: 100px;
    }
    
    .containergrid div{
        height: 70%;
        grid-area: div;
        
    }
    footer{
        height: 100%;
        grid-area: footer;
        
    }
    .containergrid{
        display: grid;
        grid-template-columns: repeat(1fr 1fr);
        grid-template-areas:
        "header  header"
        "nav nav"
        "main main"
        "div div"
        "footer footer" ;
    }
}
/*animaciones*/
.divimagenes:hover{
    transform: scale(2);
    transition: all 2s;
}
